.outerdiv {
    display: flex;
}

.innerdiv {
    padding: 0 2% 0 2%;
    width: 95%;
    margin: auto;
    background: #ffffff;
}

.graybox {
    float: left;
    padding: 5px;
    width: 14%;
    background: #f0f0f0;
    margin-left: auto;
}